extends layout 

block content 
    div.hero
        div 
        div.headline Thank you!
        div
        div.subhead We will send out more details soon.
        div
        div.icon-container
            a(href="/contact-info")
                button Return to form
        div
