extends layout 

block content 
    div.spacer
    div.contact-table
        div Name 
        div Address
        each contact in contact_list
            if contact.familyName
                div #{contact.familyName}
            else
                div 
            if contact.address
                div #{contact.address.streetAddress}
            else
                div
        else 
            div There are no guests.