extends layout 

block content 
    div.hero
        div 
        div.headline Success! 
        div 
            a(href="/contact-info")
                button Return to form
        div 
        div
