extends layout 

block content 
    div.spacer
    div.contact-table
        div Name 
        div Address
        each contact in contact_list
            if contact.family_name
                div #{contact.family_name}
            else
                div 
            if contact.address
                div #{contact.address.fullAddress}
            else
                div
        else 
            div There are no guests.