div.hero
            div
            div.headline We can't wait to see you.
            div.subhead But first, we need to find you.
            div 
            div.icon-container
                div.caption Please share your contact info below 
                div.icon arrow_downward
            div