@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
  --dark-theme-color: #163A34;
  --light-theme-color: rgb(242,212,205);
  --med-theme-color: #EDEDE7;
  --text-dark: rgb(30,30,30);
  --text-light: rgb(242,242,242);
  --sans-serif: 'Work Sans', sans-serif;
  --serif: 'Playfair Display', serif;
  font-family: 'Work Sans', sans-serif;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  min-height: 100%;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  position: fixed;
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  font-weight: 700;
  color: var(--dark-theme-color);
  
  background-color: #fbf1ec;
  /* background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%23d4cdc4' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E"); */
}

.spacer {
  height: 6rem;
}

.main {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  padding: 0px 30px;
}

a {
  color: #00B7FF;
}

.hero {
  min-height: calc(100vh - 6rem);
  display: grid;
  grid-template-rows: 2fr auto 20px auto 2fr auto 1fr;
}

.headline {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  font-weight: 700;
  color: var(--dark-theme-color);
}

.subhead {
  text-align: center;
  font-size: 2rem;
  color: var(--light-theme-color);
}

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--dark-theme-color)
}

.contact-table {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.contact-table > div {
  padding: 10px 30px;
  border: 1px solid black;
}

.caption {
  font-size: 1.25rem;
  text-align: center;
}

.icon {
  font-family: 'Material Icons';
  font-size: 2.5rem;
  margin-top: 10px;
}

form {
  width: 100%;
  display: flex;
  margin: 0px 30px;
  flex-direction: column;
  gap: 40px;
  background-color: rgb(255,255,255);
  font-size: 1.25rem;
  padding: 20px;
  max-width: 800px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-title {
  color: var(--dark-theme-color);
  font-weight: 700;
}

.member {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input, select {
  padding: 10px;
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  border: 1px solid var(--light-theme-color);
  border-radius: 4px;
  background-color: white;
  color: black;
}

select {
  height: calc(1rem + 25px);
}

:invalid, ::placeholder {
  color: darkgray;
  opacity: 1;
}

#birthday-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#birthday-input {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}

#birthday-label {
  font-size: 1rem;
  color: var(--text-dark);
  margin-left: 5px;
}

input:focus, select:focus {
  outline: 2px solid var(--med-theme-color);
}

button.text-button {
  border: none;
  padding: 0px;
  align-self: flex-end;
  font-size: 1rem;
  font-weight: 500;
}

button {
  width: fit-content;
  padding: 10px 50px;
  font-family: var(--sans-serif);
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--dark-theme-color);
  background-color: var(--text-light);
  border: 2px solid var(--light-theme-color);
  border-radius: 4px;
  align-self: center;
  cursor: pointer;
  background-color: white;
}

button:hover {
  background-color: var(--light-theme-color);
}

button.text-button:hover {
  background-color: white;
  color: var(--light-theme-color);
}

.divider {
  border-top: 1px solid var(--dark-theme-color);
  margin-top: 20px;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

@media screen and (max-width: 500px) {
  .headline {
    font-size: 3rem;
  }  
  .hero {
    grid-template-rows: 2fr auto 20px auto 2fr auto 2fr;
  }
}
